body
{
    max-width: 480px;
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    margin-top: -5px;
    margin-left: -5px;
    margin-left: -5px;
}

header
{
    background-color: #93C01F;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

.arrow
{
    padding-top: 5px;
    padding-left: 3px;
}

.distance
{
    margin-left: 20px;
}

.nav 
{
    list-style: none;
    background-color: #1D202E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 400px;   
    max-width: 100%;
}

.nav__item a
{
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-size: 0.8em;
}

.nav__item
{
    text-align: center;
    margin-bottom: 5px;
}

.nav__mand
{
    margin-top: 4px;
}

.search__input
{
    background-color: #93C01F;
    font-size: 1.6em;
    opacity: 0.8;
    border-style: none;
    border-bottom-style: double;
    border-color: white;
    color: white;
}

.searchNav
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.search 
{
    background-color: #93C01F;
    padding: 20px;
    padding-right: 151px;
    padding-left: 151px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.maand
{
    color: white;
    background-image: url("../images/aardbei__maand.png");
    background-repeat: repeat-x, no-repeat;
    border-bottom-style: solid;
    border-color: #93C01F;
    border-width: 8px;
    padding-left: 35px;
    padding-top: 30px;
    margin-top: 20px;
}

.maand__h1
{
    margin: 0px;
}

.maand__h2
{
    color: #93C01F;
    margin: 0px;
}

.maand__p
{
    width: 270px;
    font-size: 0.9em;
    
}

.maand__grid
{
    display: flex;
    flex-direction: row;
}

.btn
{
    padding: 3px;
    background-color: #93C01F;
    width: 100px;
    height: 20px;
    margin-top: 70px;
    margin-left: 80px;
    margin-right: 20px;
    color: white;  
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.border
{
   display: block;
   width: 100px;
   height: 3px;
   padding-left: 3px;
   padding-right: 3px;
   margin-left: -3px;
   margin-top: 9px;
   background-color:#93C01F;
}


.categoriën
{
    background-color: #F2F2F2; /* grijs achtergrond */
    padding-top: 10px;
    padding-left: 5px;

}

.categorie
{
    display: grid;
    grid-template-columns: 50% 50% 0%;
    grid-template-rows: 50% 50% 0%;
    justify-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.categorie a 
{
    text-decoration: none;
}

.categoriën h3
{
    color: #4D180C;
    margin: 0px;
}

.cat
{
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 45px;
    background-color: #93C01F;
    color: white;
    font-family: 'Century Gothic';
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    max-width: 150px;
    font-size: 0.8em;
    margin-bottom: 15px;
}

.cat img
{
    margin-top: 10px;
}

.cat__bio
{
    padding-left: 43px;
    padding-right: 43px;
    margin-bottom: 5px;
    padding-bottom: 15px;
}

.cat__streek
{
    padding-left: 43px;
    padding-right: 43px;
    background-color: #8C1A14;
    margin-bottom: 5px;
    padding-bottom: 15px;
}
.cat__seizoen
{
    display: grid;
    grid-column: 0 / 1;
    justify-self: center;
    align-self: center;
    background-color: #F29100;
    padding-bottom: 15px;
    text-align: center;
}

.cat__seizoen img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
}

.cat__seizoen p
{
    text-align: center;
    padding-left: 25px;
}

.cat__fair img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
}

.cat__fair p
{
    padding-left: 25px;
}

.cat__fair
{
    display: grid;
    grid-column: 1 / 1; 
    background-color: #EB6608;
    justify-self: center;
    align-self: center;    
}

.afair 
{
    display: grid;
    grid-column: 1 / 1; 
}

.ecokoerier
{
    background: url("../images/ecokoeriers.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    margin-bottom: 80px;
    max-width: 100%;
    height: 350px;
}

.eco__flex
{
   width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-content: flex-end;
   margin-left: 230px;
}

.eco__h3
{
    color: #EB6608;
    margin-bottom: 0px;
}

.eco__p
{
    color: #666666;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.btn--eco
{
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 140px;
    margin-right: 20px;
}

/* search.php */
.searchF
{
    margin-bottom: 20px;
}

.filters
{
    margin-left: 20px;
    background-color: #8C1A14;
    text-transform: uppercase;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    color: white;
}

.filter__options
{
    border: 2px solid #8C1A14;
    padding: 5px;
    margin-left: -4px;
}

.searchP
{
    background-color: #F2F2F2;
    color: #4D180C;
    font-family: 'Century Gothic';
    margin-top: 10px;
    margin-bottom: 80px;
    padding: 10px;
}

.searchP__titel
{
    margin-left: 20px;
    margin-top: 5px;
}

.searchP__list
{
    background-color: white;
    display: grid;
    grid-template-columns: 33% 36% 30%;
    margin-bottom: 10px;
}

.searchP__img
{
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.btn--searchP
{
    margin-left: 20px;
    margin-top: 20px;
}

.searchP__grid
{
    margin-left: 5px;
    font-family: 'Roboto';
}

.searchP__pnaam
{
    text-transform: uppercase;
    font-family: 'Century Gothic';
    margin-top: 5px;
    margin-bottom: 2px;
}

.searchP__hnaam
{
    color: #62822C;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 0.9em;
}

.searchP__afstand
{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 0.9em;
}

.searchP__prijs
{
    color: #8C1A14;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.searchP__v
{
    margin-bottom: -10px;
}

/* detail.php */

.detailphp
{
    background-color: #F2F2F2;
}

.detail
{
    background-color: #62822C;
    margin-top: 10px;
}

.detail__img
{
    width: 350px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.information
{
    background-color: white;
    margin-top: 10px;
    padding-bottom: 20px;
}

.info__hnaam
{
    color: #EB6608;
    font-family: 'Roboto';
    font-weight: bold;
    margin-left: 20px;
}

.pnaam--info
{
    font-size: 1.4em;
}

.info__flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}

.prijs--info
{
    font-weight: bold;
    display: flex;
    align-self: flex-end;
    margin-right: 50px;
    font-size: 1em;
}

.info
{
    margin-left: 50px;
    font-weight: bold;
}

.info span
{
    font-weight: normal;
}

.bestelling 
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn--bestelling
{
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #93C01F;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.border-bestelling
{
    display: block;
    width: 306px;
    margin-left: -3px;
    border-bottom: 2px solid #93C01F;
    height: 5px;
    margin-top: 12px;
}

.uren
{
    background-color: #EB6608;
    font-family: 'Roboto';
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.uren__titel
{
    color: white;
    margin-top: 0px;
}

.dagen
{
    color: #8C1A14;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 80px;
    margin-right: 80px;
}

.dagen span
{
    color: white;
    margin-right: 5px;
}

.uren__dagen
{
    margin-bottom: 20px;
}

.uren__ma, .uren__di, .uren__wo, .uren__do, .uren__vr, .uren__za, .uren__zo
{
    display: inline;
}


.uren__stop
{
    display: inline;
}

.contact
{
    text-align: center;
    font-family: 'Roboto';
    color: #666666;
    margin-bottom: 20px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact__titel
{
    color: #4D180C;
    font-size: 1.4em;
    margin-top: 30px;
    margin-bottom: 0px;
}

.contact__bijtitel
{
    margin-top: 10px;
    color: #62822C;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.adres
{
    font-family: 0.8em;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    justify-content: center;
}

.adres__info
{
    margin-right: 5px;
}

.adres__mail
{
    margin: 0px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.eco__titel
{
    color: #EB6608;
    margin-left: -200px;
    padding-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.btn--leveren
{
    margin-top: 40px;
    margin-bottom: 120px;
}

/* fairtrade.php */

.bio__border
{
    border-bottom: 4px solid #93C01F;
}

.streek__border
{
    border-bottom: 4px solid #4D180C;
}

.fair__border
{
    border-bottom: 4px solid #EB6608;
}

.seizoen__border
{
    border-bottom: 4px solid #F29100;
}

.fairtrade
{
    background-color: #F2F2F2; /* grijs achtergrond */
    margin-bottom: 100px;
    padding-top: 10px;
    padding-left: 20px;
}

.fairtrade h3{
    color: #4D180C;
    font-size: 1.8em;
}

.prod
{
    display: grid;
    grid-template-columns: 45% 45%;
    
    grid-column: 1 / 2;
    grid-auto-flow: row;
    margin-bottom: 20px;
    grid-gap: 5px;
}

.prod__grid
{
        background-color: white;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        margin-bottom: 10px;
}

.prod__grid a
{
    color: black;
    text-decoration: none;
}

.prod__img
{
    width: 60%;
    object-fit: cover;
}

/* bestelling.php */

.best_aantal
{
    display: flex;
    flex-direction: row;
}

.controls{
    display: flex;
    justify-content: space-around;
    margin-left: 280px;
    height: 48px;
}

.controls a{
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #8C1A14;
    color: #8C1A14;
    text-decoration: none;
    margin: 5px;
    margin-top: 15px;
    padding-bottom: 5px;
}

.controls a:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.controls a:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bestellingpage
{
    background-color: #F2F2F2;
}

.main__best
{
    background-color: white;
    margin-top: -20px;
    padding-bottom: 20px;
}

.section__best
{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 80px;
    font-weight: bold;
    color: #4D180C;
}

.bestelling
{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.best__img
{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.best__h4
{
    color: #EB6608;
    margin-left: 20px;   
    padding-top: 20px;
}

.best__h3
{
    color: #4D180C;
    margin-left: 20px;
    font-size: 1.4em;
}

.best__stukprijs
{
    padding-top: 20px;
   
}

.best__span
{
    padding-left: 270px;
    text-align: right;
}

.span--totaal
{
    padding-left: 285px;
    margin-bottom: 60px;
}

.btn--winkelmand
{
    margin-top: 60px;
    margin: 20px;
}

/* winkelmand.php */

.bodywinkelmand
{
    margin-bottom: 120px;
}

.koerier__winkelmand
{
    height: 250px;
    margin-bottom: 20px;
}

.eco__winkelmand
{
    margin-bottom: -30px;
}

.best__ecotitel
{
    margin-left: -220px;
    margin-bottom: 0px;
}

.btn--ecowinkelmand
{
    margin-top: 50px;
    margin-bottom: -20px;
}

.border--mand
{
    height: 3px;
    width: 300px;
    margin-top: 18px;
}

.afrekenen
{
    margin-bottom: 30px;
    margin-top: -10px;
}

.winkelmand
{
    margin-bottom: 40px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
}

.winkelmand__img
{
    margin-right: 20px;
}

.winkelmand__grid
{
    margin-left: 20px;
}

.winkelmand__list
{
    display: grid;
    grid-template-columns: 35% 60%;
    margin-bottom: -20px;
    margin-left: 20px;
}

.verwijder
{
    color: black;
    opacity: 0.5;
}

/* afrekenen.php */

.rekening__img
{
    width: 30%;
    margin-left: 80px;
    margin-top: 5px;
}

.bancontact
{
    margin-left: 180px;
}

.paypal
{
    margin-left: 220px;
    width: 25%;
    
}

.visa
{
    margin-left: 200px;
    width: 25%;
}

.body__afrekenen
{
    background-color: #F2F2F2;  
}

.jouwbestelling
{
    background-color: white;
    padding: 20px;
}

.jouwbestelling__h3
{
    color: #4D180C;
    font-size: 1.4em;
    font-weight: bold;
}

.betaal
{
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 80px;
    background-color: white;
    color: #4D180C;
    font-weight: bold;
}

.betaal__h5
{
    text-transform: uppercase;
    font-size: 1em;
}

#bevestigen
{
    margin-top: 30px;
    
}

/* ecokoeriers.php */
.center
{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.form__eco
{
    background-color: white;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: -80px;
}

.label__eco
{
    font-weight: bold;
    color: #4D180C;
    display: block;
    margin-bottom: 5px;
}

.input__eco
{
    border: 2px solid #62822C;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
}

.input__naam
{
    width: 135px;
}

.input__select
{
    width: 325px;
}

.input__levertijd
{
    width: 160px;
}


/* bevestiging.php */

.vink
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;  
}

/* maand.php */

.maandproduct
{
    background-image: url('../images/aardbei__maand.png');
    background-position: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.maand__titelh2
{
    text-transform: uppercase;
    color: white;
    font-size: 1.7em;
    margin-left: 20px;
    
}

.maand__titelh3
{
    color: #93C01F;
    font-size: 1.4em;
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: 60px;
}

.maand__titelh5
{
    color: white;
    margin-left: 20px;
}

/* aanmelden.php */
.aanmelden__logo
{
    background-color: white;
}

.ecoflavorlogo
{
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aanmeldingsformulier
{
    background-image: url("../images/aanmelden_background.png");
    background-position: center -11px;
    
}

.aanmelden__formulier
{
    padding-top: 70px;
    padding-bottom: 20px;
}

.aanmelden__label
{
    color: white;
    display: block;
    text-align: center;
}

.aanmelden__input
{
    margin-left: 10px;
    border: 2px solid #93C01F;
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn--aanmelden
{
    width: 320px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
} 

.border--aanmelden
{
    width: 320px;
    color: lightcoral;
    margin-top: 20px;
}

.link__account
{
    color: white;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.link__wachtwoord
{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #93C01F;
}

.aanmelden__links
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

@media (max-width: 480px)
{

    /* nav.php */
    .nav
    {
        padding-left: 55px;
        padding-right: 55px;
        max-width: 420px;
        max-width: 100%;
        
    }

    .nav__profiel
    {
        margin-top: 2px;
    }

    .nav__item img
    {
        width: 50px;
    }

    .nav__item a
    {
        font-size: 0.6em;
    }

    /* index.php */

    .search
    {
        max-width: 100%;
        padding-left: 5px;
    }

    .search__input
    {
        font-size: 1.1em;
        width: 180px;
        margin-left: 160px;
    }

    .maand
    {
        padding-left: 10px;
        padding-top: 10px;
    }

    .maand__h1
    {
        font-size: 1.4em;
    }

    .maand__h2
    {
        font-size: 1.2em;
    }

    .btn--maand
    {
        margin-left: 180px;
        margin-top: -30px;
        margin-bottom: 20px;
    }

    .maand__p
    {
        width: 260px;
    }

    .maand__grid
    {
        display: flex;
        flex-direction: column;
    }

    .categorie
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .afair
    {
        display: block;
    }

    .cat__fair
    {
        padding-left: 43px;
        padding-right: 43px;
    }

    .cat__fair p, .cat__fair img
    {
        padding-left: 0px;
    }

    .cat__seizoen
    {
        padding-right: 70px;
    }

    .cat__seizoen p, .cat__seizoen img
    {
        padding-left: 35px;
    }

    .ecokoerier
    {
        background-position: -240px;
        padding-top: 80px;
        max-width: 100%;
        height: 260px;
    }

    .eco__flex
    {
        margin-top: -60px;
        margin-left: 20px;
    }

    .eco__h3
    {
        padding-top: 0px;
    }

    /* search */

    .searchP__list
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .searchP__img
    {
        display: grid;
        grid-column-start: span 2;
        width: 100%;
    }

    .searchP__pnaam
    {
        font-size: 0.9em;
    }    

    /* detail */
    .detail__img
    {
        width: 100%;
    }

    .info
    {
        margin-left: 40px;
    }

    .btn--bestelling
    {
        width: 200px;
    }

    .border-bestelling
    {
        width: 207px;
    }

    .dagen
    {
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ecodetail__titel
    {
        width: 100%;
        margin-left: 20px;
        margin-top: 20px;
    }

    .btn--leveren
    {
        margin-bottom: 20px;
        margin-left: 150px;
    }

    .ecomedia
    {
        height: 260px;
        background-position: right; 
    }

    /* bestelling.php */

    .best__span
    {
        padding-left: 140px;
    }

    .span--totaal
    {
        padding-left: 150px;
    }

    .controls
    {
        margin: 0px;
        margin-left: 140px;
    }

    .bestelling
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
    }

    /* winkelmandje */

    .best__ecotitel
    {
        margin-left: 20px;
        margin-top: 0px;
    }

    .btn--ecowinkelmand
    {
        margin-top: 20px;
    }

    .koerier__winkelmand
    {
        margin-bottom: 20px;
        height: 330px;
    }

    .winkelmand__list
    {
        display: grid;
        grid-template-columns: 100%;
        padding: 10px;
        margin-bottom: -25px;
    }

    .border--mand
    {
        width: 202px;
        height: 2px;
    }

    /* afrekenen.php */

    .rekening__img
    {
        margin-left: 20px;
    }

    .paypal
    {
        margin-left: 60px;
    }

    .visa
    {
        margin-left: 35px;
    }

    /* ecokoeriers.php */

    .center
    {
        padding-left: 20px;
    }

    .input__eco
    {
        width: 200px;
    }

    .input__naam
    {
        width: 85px;
    }

    .input__select
    {
        width: 220px;
    }

    .input__levertijd
    {
        width: 110px;
    }

    .btn--bestelling
    {
        margin-top: 30px;
    }
}

@media (max-width: 320px)
{

    /* nav.php */

    .aanmelden__input
    {
        width: 150px;
    }

    .btn--aanmelden
    {
        width: 170px;
    }

    .border--aanmelden
    {
        width: 170px;
    }

    .link__wachtwoord
    {
        margin-top: 0px;
        align-self: center;
    }

    .link__account
    {
        margin-bottom: 10px;
        align-self: center;
        margin-left: 35px;
    }

    .aanmelden__links
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .nav
    {
        padding-left: 5px;
        padding-right: 5px;
        max-width: 100%;
    }

    .nav__profiel
    {
        margin-top: 2px;
    }

    .nav__item img
    {
        width: 50px;
    }

    .nav__item a
    {
        font-size: 0.6em;
    }

    /* index.php */

    .search
    {
        max-width: 100%;
        padding-left: 5px;
    }

    .search__input
    {
        font-size: 1.1em;
        width: 180px;
        margin-left: 160px;
    }

    .maand
    {
        padding-left: 10px;
        padding-top: 10px;
    }

    .maand__h1
    {
        font-size: 1.2em;
    }

    .maand__h2
    {
        font-size: 1em;
    }

    .btn--maand
    {
        margin-left: 160px;
        margin-top: -50px;
        margin-bottom: 20px;
    }

    .maand__p
    {
        width: 150px;
        font-size: 0.7em;
    }

    .maand__grid
    {
        display: flex;
        flex-direction: column;
    }

    .categorie
    {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cat__fair
    {
        padding-left: 48px;
        padding-right: 48px;
    }

    .cat__fair p, .cat__fair img
    {
        padding-left: 0px;
    }

    .cat__seizoen
    {
        padding-right: 70px;
    }

    .cat__seizoen p, .cat__seizoen img
    {
        padding-left: 35px;
    }

    .ecokoerier
    {
        background-position: -240px;
        padding-top: 80px;
        max-width: 100%;
        height: 260px;
    }

    .eco__flex
    {
        margin-top: -60px;
        margin-left: 20px;
    }

    .eco__h3
    {
        padding-top: 0px;
    }     

    /* detail */
    .detail__img
    {
        width: 100%;
    }

    .info
    {
        margin-left: 25px;
    }

    .btn--bestelling
    {
        width: 200px;
    }

    .border-bestelling
    {
        width: 207px;
    }

    .dagen
    {
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ecodetail__titel
    {
        margin-left: 30px;
    }

    /* bestelling.php */

    .best__span
    {
        padding-left: 90px;
    }

    .span--totaal
    {
        padding-left: 100px;
    }

    .controls
    {
        margin: 0px;
        margin-left: 90px;
    }

    /* winkelmandje */

    .best__ecotitel
    {
        margin-left: 20px;
        margin-top: 0px;
    }

    .btn--ecowinkelmand
    {
        margin-top: 20px;
    }

    .koerier__winkelmand
    {
        margin-bottom: 20px;
    }

    .winkelmand__list
    {
        display: grid;
        grid-template-columns: 100%;
        padding: 10px;
        margin-left: 10px;
        margin-bottom: -25px;
        width: 260px;
    }

    .border--mand
    {
        width: 202px;
        height: 2px;
    }

    /* afrekenen.php */

    .rekening__img
    {
        margin-left: 20px;
    }

    .paypal
    {
        margin-left: 60px;
    }

    .visa
    {
        margin-left: 35px;
    }

    /* ecokoeriers.php */

    .center
    {
        padding-left: 10px;
    }

    .input__eco
    {
        width: 200px;
    }

    .input__naam
    {
        width: 85px;
    }

    .input__select
    {
        width: 220px;
    }

    .input__levertijd
    {
        width: 110px;
    }

    .btn--bestelling
    {
        margin-top: 30px;
    }

}


