body
{
    max-width: 480px;
    font-family: 'Roboto', sans-serif;
}

header
{
    background-color: #93C01F;
    display: flex;
    justify-content: space-between;
}

.header__home
{
    opacity: 0.5;
}

.search__input
{
    background-color: #93C01F;
    font-size: 1.6em;
    opacity: 0.6;
    border-style: none;
    border-bottom-style: double;
    border-color: white;
    color: white;
}

.searchNav
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.search 
{
    background-color: #93C01F;
    padding: 20px;
    padding-right: 151px;
    padding-left: 151px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.maand
{
    color: white;
    background-image: url("../images/background.png");
    border-bottom-style: solid;
    border-color: #93C01F;
    border-width: 5px;
    padding-left: 5px;
    margin-top: 20px;
}

.maand__h1
{
    padding-top: 5px;
    margin: 0px;
}

.maand__h2
{
    color: #93C01F;
    margin: 0px;
}

.maand__p
{
    width: 270px;
    font-size: 0.9em;
    
}

.maand__grid
{
    display: flex;
    flex-direction: row;
}

.btn
{
    padding: 3px;
    background-color: #93C01F;
    width: 100px;
    height: 20px;
    margin-top: 80px;
    margin-left: 80px;
    color: white;  
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.border
{
   display: block;
   width: 100px;
   height: 3px;
   padding-left: 3px;
   padding-right: 3px;
   margin-left: -3px;
   margin-top: 9px;
   background-color:#93C01F;
}

.categoriën
{
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-left: 5px;

}

.categorie
{
    display: grid;
    grid-template-columns: 50% 50% 0%;
    grid-template-rows: 50% 50% 0%;
    justify-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.categorie a 
{
    text-decoration: none;
}

.categoriën h3
{
    color: #4D180C;
    margin: 0px;
}

.cat
{
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 45px;
    background-color: #93C01F;
    color: white;
    font-family: 'Century Gothic';
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    max-width: 150px;
    font-size: 0.8em;
    margin-bottom: 15px;
}

.cat img
{
    margin-top: 10px;
}

.cat__bio
{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 9px;
}

.cat__streek
{
    padding-left: 31px;
    padding-right: 31px;
    background-color: #8C1A14;
    margin-bottom: 9px;
}
.cat__seizoen
{
    display: grid;
    grid-column: 0 / 1;
    background-color: #F29100;
}

.cat__seizoen img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.cat__fair img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cat__fair
{
    display: grid;
    grid-column: 1 / 1; 
    background-color: #EB6608;
}

.afair 
{
    display: grid;
    grid-column: 1 / 1; 
}

.borderCat
{
    display: block;
    margin-top: 9px;
    margin-bottom: -9px;
    width: 205px;
    margin-left: -30px;
}

.cat__fair .borderCat
{
    margin-left: -15px;
    padding-right: 1px;
}

.cat__seizoen .borderCat
{
    margin-left: -15px;
}

.cat__bio .borderCat
{
    padding-right: 1px;
    display: block;
    margin-top: 9px;
    margin-bottom: -9px;
}

.cat__streek .borderCat
{
    display: block;
    margin-top: 9px;
    margin-bottom: -9px;
}

.ecokoerier
{
    background: url("../images/ecokoeriers.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    max-width: 100%;
    margin-bottom: 20px;
}

.eco__flex
{
   width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-content: flex-end;
   margin-left: 230px;
}

.eco__h3
{
    color: #EB6608;
    margin-bottom: 0px;
}

.eco__p
{
    color: #666666;
    margin-bottom: 0px;
}

.btn--eco
{
    margin-top: 0px;
    margin-left: 145px;
    margin-bottom: 170px;
}

/* search.php */

.searchP
{
    background-color: #F2F2F2;
    color: #4D180C;
    font-family: 'Century Gothic';
    margin-top: 10px;
    padding: 10px;
}

.searchP__titel
{
    margin-left: 20px;
    margin-top: 5px;
}

.searchP__list
{
    background-color: white;
    display: grid;
    grid-template-columns: 33% 36% 30%;
    margin-bottom: 10px;
}

.searchP__img
{
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.btn--searchP
{
    margin-left: 20px;
    margin-top: 20px;
}

.searchP__grid
{
    margin-left: 5px;
    font-family: 'Roboto';
}

.searchP__pnaam
{
    text-transform: uppercase;
    font-family: 'Century Gothic';
    margin-top: 5px;
    margin-bottom: 2px;
}

.searchP__hnaam
{
    color: #62822C;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 0.9em;
}

.searchP__afstand
{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 0.9em;
}

.searchP__prijs
{
    color: #8C1A14;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.searchP__v
{
    margin-bottom: -10px;
}